<footer id="main_footer">
	<p class="copyright">&copy; <%= Time.current.year %> Mackenzie Child</p>
	<nav>
		<a href="http://twitter.com/mackenziechild" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="http://dribbble.com/mackenziechild" target="_blank"><i class="fa fa-dribbble"></i></a>
		<a href="http://github.com/mackenziechild" target="_blank"><i class="fa fa-github"></i></a>
	</nav>
</footer>		